/* styles.css */
html {
  font-size: 30px; /* <--- OVO JE KLJUČNO. Povećavamo bazu za ceo sajt. */
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  color: #333;
}

/* Povećavamo i input polja da budu 'deblja' */
input, select, button {
  font-size: 1rem; /* 1rem = 20px sada */
}